:root {
  --background-pink: #f8ebe9;
  --grey: #999999;
  --container-shadow: #d5a192;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-pink);
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #ffffff;
  width: 1000px;
  height: 650px;
  margin: 4% auto;
  box-shadow: 0px 13px 25px 0px var(--container-shadow);
}

.back-container {
  height: 100%;
  float: left;
  width: 36%;
  background: url(./img/background.jpg) no-repeat center;
  background-size: cover;
}

.back-container__text-back {
  position: relative;
  margin: 35px 30px;
}

.text-back {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  width: 55px;
  transition: 0.3s;
}

.text-back__arrow {
  vertical-align: -2px;
  margin-right: 3px;
  transition: 0.3s;
}

.text-back:hover {
  color: #000000;
  cursor: pointer;
}

.text-back:hover .text-back__arrow {
  fill: #000000;
}

.main {
  width: 64%;
  height: 100%;
  float: right;
}

.main__nav {
  float: right;
  margin: 32px 30px;
}

.nav__list {
  list-style-type: none;
  margin: 0;
}

.nav-list__li {
  float: left;
  display: block;
  padding-left: 33px;
}

.nav-list__text {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: 0.3s;
}

.nav-view-text {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-list__li_active,
.nav-list__text:hover {
  color: #000000;
}

.main__article {
  clear: right;
}

.article {
  padding: 40px 80px 0 100px;
}

.article__caption {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 0;
}

.article__line {
  height: 4px;
  width: 100px;
  background-color: #000000;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 4px;
}

.article__author {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0 40px 0;
}

.article__photos-preview {
  float: left;
  margin-right: 43px;
}

.preview-img {
  background: url(./img/preview.jpg);
  background-size: cover;
  height: 111px;
  width: 177px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.preview-img__play {
  margin: 37px 68px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.preview-img__play-sigh {
  margin-top: 8px;
}

.photos-preview__text {
  margin-top: 17px;
  cursor: pointer;
}

.photos-preview__arrow {
  margin: -3px 3px;
}

.article__text {
  line-height: 30px;
}
