html {
  --background-color: #4d515d;
  --caption-hint: #aaaaaa;
  --sigh-up: #8b8b8c;
  --button-border: #eef0f3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

.container {
  width: 77vw;
  height: 590px;
  margin: 3% auto;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.1);
}

.information {
  height: 100%;
}

.header {
  height: 33.333%;
  padding: 7% 9%;
}

.header__caption {
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 14px;
}


.header__caption-hint {
  margin-top: 14px;
  font-weight: 400;
  font-size: 12px;
  color: var(--caption-hint);
}

.buttons {
  padding: 0 9%;
  height: 46.666%;
}

.sign-up {
  color: var(--sigh-up);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.3s;
}

.sign-up:hover {
  color: #000000;
}

.button {
  width: 100%;
  border: var(--button-border) solid 1px;
  text-align: center;
  padding: 20px;
  margin: 20px 0 0;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  border: #ffffff solid 1px;
  box-shadow: 0px 5px 12px 3px rgba(204, 204, 204, 0.6);
}

.button:nth-of-type(1) {
  background: url(./img/googleplus.svg) no-repeat 20px;
  background-size: 20px;
}

.button:nth-of-type(2) {
  background: url(./img/facebook.svg) no-repeat 20px;
  background-size: 20px;
}

.button:nth-of-type(3) {
  background: url(./img/twitter.svg) no-repeat 20px;
  background-size: 20px;
}

.footer-email {
  border-top: var(--button-border) solid 1px;
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-email__text {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-left: 9%;
  width: 40%;
}

.footer-email__sign-up {
  font-size: 10px;
  margin-right: 9%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    background: url("./img/side.jpg") white no-repeat right;
    background-size: 42% 100%;
  }
  .information {
    width: 58%;
    box-shadow: 9px 0px 10px -2px rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 425px) {
  .container {
    width: 90vw;
  }
  .caption {
    padding-top: 10%;
    font-size: 28px;
  }
}
